.cstmr_layout{
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    margin-top: 40px;
}


#ticket-subjct{
    font-size: 1.4em;
    width: 100%;
    height: 35px;
    padding: 6px 6px;
    margin-bottom: 32px;
    border-radius: 3px; 
}
#ticket-description{
    width: 100%; 
    height: 200px;
    border-radius: 3px; 
}

#ticket-description:focus .atch-strp{
    bottom: 0 !important;
}
.tckt_form{
    float: left;
}
.tckt-atrbts{
    /*border-left: 1px solid #cccccc;*/ 
    float: right;
    /*margin-left: 8px;*/
}
.atrbt-itm{
    border-bottom: 1px solid #cccccc;
    padding: 15px 32px 18px 15px;
}
.atrbt-itm button{
    border: none !important;
    background-color: inherit;
    font-weight: bold;
    width: 140px;
    text-align: left;
}
.atrbt-itm button i{
    float: right;
    font-size: 1.4em;
}
.atr-slctd{
    color: #C2BFBF;
    padding: 4px 0px 2px 7px;
    margin-top: 8px;
}
.atch-strp{
    position: relative;
    border: 1px solid #C2BFBF;
    padding: 8px 2px 2px 3px;
    display: inline-block;
    border-top-left-radius: 5px;
    right: 0;
    margin-top: -42.5px;
    float: right;
    background-color: rgb(226, 226, 226);
    bottom: -100px;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
.atch-strp a{
    text-decoration: none;
}
.atch-strp a i{
    font-size: 1.5em !important;
    margin-top: 0 !important;
    margin-left: 0px !important;
    position: relative !important;
    opacity: 1 !important;
    padding: 4px;
}
a{
    color: #333;
}
.select-list{
    position: absolute;
    width:  200px;
    margin-top: -32px;
    margin-bottom: 20px;
    margin-left: -32px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(200,200,200,0.4);
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    display: none;
    z-index: 10001;
    max-height: 300px;
}
.select-list:before{
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #2e363f;
    border-bottom-color: #009587;;
    position: absolute;
    top: -19px;
    left: 75%;
    /*left: calc(50% - 10px);*/
}

.select-list-header{
    padding: 4px 10px;
    background-color: #009587 ;
    border-bottom: 1px solid rgba(200,200,200,0.4);
}
.select-list-title{
    font-weight: bold;
    color: white;
    text-shadow: 0 0 1px #333;
}
.select-list-rmv{
    float: right;
    padding-top: 4px;
    color: white;
    text-decoration: none;
}
.select-list-rmv:hover{
    color: white !important;
}
.select-list-rmv i{
    font-size: 1.3em;
}
.slct-itms{
    width: 100%;
    margin-bottom: 0px;
}
.slct-itms li{
    margin-left: -25px; 
    padding-left: 12px;
    width: 100%;
    /*line-height: 0 !important ;*/
    border-bottom: 1px solid rgba(200,200,200,0.4);
    cursor: pointer;
    padding: 8px 8px 8px 24px;
}
.select-menu-item{
    max-height: 265px;
    overflow-y: auto;
    overflow-x: hidden;
}
.slct-itms li:hover{
    background-color: rgb(226, 226, 226);
}

.tckts-tbls td {
    text-align: left !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    line-height: 2em !important;
}
.tckts-tbls a{
text-decoration: none;
width: 96%; 
}
.tckts-tbls .ttl-lnk{
display: inline-block;
padding-right: 3px;
margin-bottom: 2px;
font-size: 1.3em;
font-weight: bold;
line-height: 1.2em;
color: #333;
word-break: break-word;
vertical-align: middle;
letter-spacing: 0.02em;
}
.ttl-lnk:hover{
    color: #009587;
}
.tckts-tbls a .ttl-lnk-cat{
    padding: 2px 4px 2px 4px;
    font-size: 0.8em !important;
    font-weight: bold;
    background-color: #D16D11;
    color: white;
    border-radius: 3px;
}
.tckts-tbls a .ttl-lnk-sbcat{
    padding: 2px 4px 2px 4px;
    font-size: 0.8em !important;
    font-weight: bold;
    background-color: #D16D11;
    color: white;
    border-radius: 3px;
}
.tckts-tbls td  i{
    color: red;
    font-size: 1.5em;
    margin-right: 16px;
}

.tckt-opnd-by{
    font-size: 0.9em;
    margin-left: 33px;
    color: rgb(138, 138, 138);
}

.cstmr_layout .tbl-hdr h2{
    text-align: left !important;
    padding-left: 16px;
    
}
.shw-tckt-opndby{
 color: #777;
 font-size: 1.1em;
 margin-bottom: 24px;
}
.tckt-ttl h2{
    letter-spacing: -0.9px;
    font-family: lato;
    font-weight: 500;
    margin-bottom: 17px;
}
.actn-btns{
    float: right;
    margin-top: -8px;
}
/*.actn-edit{
    border: 1px solid green;
    background-color: white;
    padding: 8px 24px 8px 12px;
    border-radius: 3px;
    margin-top: 1px;
}
.actn-edit i{
    font-size: 1.4em;
    color: green;
}

.actn-edit:hover{
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1d733 !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1d733f !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1d733f !important;
}*/
.tckt-bdy{
    border-top: 1px solid #cccccc;
    margin: 4px;
}
.tckt-desc{
    border: 1px solid #ddd;
    margin-top: 24px;
    min-height: 200px;
    float: left;
    width: 68%;
    border-radius: 2px;
}
.tckt-desc-bx{
    overflow: hidden;
}
.comnt-prfle-img{
 float: left;
}
.comnt-prfle-img img{
 width: 40px;
 height: 40px;
 border: 1px solid #F5F5F5;
 border-radius: 3px;
 margin-top: 24px;
 margin-right: 16px;
}
.tckt-desc:before{
    content: '';
    border: 10px solid transparent;
    /*border-bottom-color: #2e363f;*/
    border-right-color: #B1DBAF;
    position: absolute;
    margin-left: -20px;
    margin-top: 8px;;
    /*left: calc(94% - 10px);*/
}

.tckt-desc-hdr{
    /*background-color: #f7f7f7;*/
    background-color: #B1DBAF;
    height: 32px;
    border-bottom: 1px solid #eee;
    padding: 6px 6px 6px 16px;
}

.tckt-atrbts-shw{
    float: right;
    margin-top: 24px !important;
    border-left: 0px;
}

.atr-slctd-shw{
    background-color: rgb(7, 112, 138);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.updt-actns{
    margin-left: 52px;
}
.updt-actns button{
    margin: 13px 6px 4px 4px;
    background-color: white;
    padding: 6px 16px 5px 16px;
    font-size: 1.1em;
    border-radius: 3px;
}
#updt-tckt{
    border: 1px solid green;
    color: green;
}

#updt-cncl-tckt{
   border: 1px solid #FF5252;
    color: #FF5252; 
}
.sb-nav{
    margin-bottom: 16px !important;
}
.sb-nav ul{
        margin: 0px;
}
.sb-nav li{
        padding: 8px 10px 8px 10px;
        border: 1px solid #cccccc;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 16px !important;
        display: inline-block;
        margin-left: -3px;
        position: relative;
}

.sb-nav li:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}
.sb-nav li:nth-child(2){
    border-right: none;
}
.sb-nav li:nth-child(3){
    border-right: none;
}
.sb-nav li:nth-child(4){
    border-right: none;
}
.sb-nav li:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
}
.comnt_inpt{
    border: 1px solid #ddd;
    margin-top: 24px;
    min-height: 216px;
    float: left;
    width: 68%;
    border-radius: 2px;
}
.comnt_inpt:before{
    content: '';
    border: 10px solid transparent;
    /*border-bottom-color: #2e363f;*/
    border-right-color: #B1DBAF;
    position: absolute;
    margin-left: -20px;
    margin-top: 8px;

    /*left: calc(94% - 10px);*/
}
.comnt_old_inpt{
    border: 1px solid #ddd;
    margin-top: 24px;
    min-height: 96px;
    float: left;
    width: 68%;
    border-radius: 2px; 
}
.comnt_old_inpt:before{
    content: '';
    border: 10px solid transparent;
    /*border-bottom-color: #2e363f;*/
    border-right-color: #e1edf1;
    position: absolute;
    margin-left: -20px;
    margin-top: 8px;

    /*left: calc(94% - 10px);*/
}
.comnt_hdr{
    background-color: #B1DBAF;
    height: 32px;
    border-bottom: 1px solid #eee;
    padding: 6px 6px 6px 16px;
    margin-bottom: 4px;
}
.comnt_old_hdr{
    background-color: #e1edf1;
    height: 32px;
    border-bottom: 1px solid #eee;
    padding: 6px 6px 6px 16px;
    margin-bottom: 4px;
}
.comnt_inpt textArea{
    width: 95%;
    height: 16%;
    margin: 15px;
}
.cmnt-actns{
    float: right;
    margin-right: 16px;
}
/*#cmnt-tckt{
    background-color: #5cb85c !important;
    border-color: #5cb85c;
    padding: 6px 16px 5px 16px;
    border-radius: 0;
    border: none;
}*/
.edt-cmnt{
    float: right;
    opacity: 0.6;
    font-size: 1.3em;
    margin-right: 10px;
    cursor: pointer;
}
.edt-cmnt:hover{
    opacity: 1 !important; 
}
/*.cls-opn-tckt{
    background-color: white !important;
    border: 1px solid #333333 !important;
    padding: 5px 16px 4px 16px;
    border-radius: 0;
    border: none;
}*/
.cmnt-bdy p{
    padding: 6px 8px 0px 16px;
}
.cmntd_on{
    font-size: 1em;
    color: #919191;
    padding-left: 8px;
}
.drpdwn-lst{
    position: absolute;
    background-color: white;
    width: 264px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    margin-left: -172px;
    margin-top: 8px;
    display: none;
    z-index: 100001;
}
.drpdwn-lst ul{
    overflow-y: auto;
    max-height: 300px;
}
.drpdwn-lst li{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    display: block !important;
    float: none !important;
    padding: 8px 8px 8px 24px !important;
    margin: 0 !important;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
    color: #333 !important;
}
.drpdwn-lst li:hover{
    background-color: rgb(226, 226, 226);
}
.ligt-box{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.72);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 10001;
}
.ligt-box img{
    max-width: 32px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ligt-box i{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 3em;
    color: #009587;
}


.ntg-fnd{
    text-align: center;
    margin-top: 96px;
}
.ntg-fnd i{
    font-size: 2.8em !important;
    padding: 0 !important;
    margin-left: -16px;
    text-shadow: 1px 2px #B9B6B6;
}
.ntg-fnd h3{
    font-weight: bold;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    font-family: lato;
}
.tckt-sts button{
    background-color: white;
    padding: 3px 8px 3px 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.tckt-sts button:hover{
    box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
}
.tckt-sts button i{
    font-size: 2em;
    margin: -5px 18px -12px -23px;
}
.edt-ttl{
    display: none;
}
#edt-ttl-inpt{
    height: 40px;
    width: 76%;
    font-size: 1.2em;
}
/*#actn-sve{
padding: 8px !important;
border: 1px solid green !important;
color: green !important;
}*/

/*#actn-cncl{
padding: 8px !important;
border: 1px solid red !important;
color: red !important;
box-shadow: none !important;
}*/
.cmnt_edt_vlue{
    width: 95%;
    height: 16%;
    margin: 15px;
}
.cmnt-edt-actns{
 display: none;   
}
.cmnt_edt_vlue{
    display: none;
}

.updt-edt-cmnt{
    background-color: #5cb85c !important;
    border-color: #5cb85c;
    padding: 6px 16px 5px 16px;
    border-radius: 0;
    border: none;
}
.cmnt-edt-actns{
    margin-bottom: 16px;
}
#new_tckfrm{
    width: 78%;
    float: left;
}

.tckt-hdr{
    font-family: lato;
}
.tckt-hdr span{
    font-size: 2em;
    font-weight: 700;
}
.tckt-hdr button{
    float: right;
    margin-right: 216px !important;
    margin-top: -6px !important;
}
.lod_mre{
    text-align: center;
}