<html>
<body>
<table cellspacing = "0" cellpadding = "0" style = "padding:30px 10px;background:#eee;width:100%;font-family:arial">
<tbody>
<tr>
<td>
<table align = "center" cellspacing = "0" style = "max-width:650px;min-width:320px">
<tbody>
<tr>
<td style = "text-align:left;padding-bottom:14px">
<img align = "left" style = "width: 200px;" alt = "Saddahaq" src = "https://tt.saddahaq.com/public/global/Images/lp_logo.png" class = "CToWUd">
</td>
</tr>
<tr>
<td align = "center" style = "background:#fff;border:1px solid #e4e4e4;padding:50px 30px">
<table align = "center">
<tbody>
<tr>
<td style = "color:#666;text-align:left">
<table align = "center" style = "margin:auto">
<tbody>
<tr>
<td style = "text-align:center;padding-bottom:5px">
<img align = "center" alt = "New leave" src = "/images/mail_msg.png" class = "CToWUd">
</td>
</tr>
<tr>
<td style = "color:#005f84; font-size:16px;font-weight:bold;text-align:center;font-family:arial">
NEW MESSAGE
</td>
</tr>
</tbody>
</table>
<p style = "font-size:16px;margin-bottom:0">Dear sir, </p><p style = "font-size:16px;margin-top:5px">Leave request:</p>
<table align = "center" style = "margin:auto;width:100%">
<tbody>
<tr>
<td style = "color:#666;font-size:16px;padding-bottom:30px;text-align:left;font-family:arial">
<div style = "font-style:italic;padding-bottom:15px;font-family:arial;line-height:20px;text-align:left">I was feeling very tired and exhausted for the last two days and I consulted with a doctor today. He said that I am infected with jaundice and I need to take rest for two weeks. I write this letter to officially inform you about my sickness and to request for two weeks leave. I also have enclosed the medical report given by the doctor.</div>
</td>
</tr>
</tbody>
</table>
<table align = "center" style = "margin:auto">
<tbody>
<tr>
<td style = "background-color:white;border:1px solid #028a25;border-radius:3px;text-align:center">
<a href = "www.saddahaq.com" style = "padding:16px 20px;display:block;text-decoration:none;color:#333;font-size:16px;text-align:center;font-family:arial;font-weight:bold" target = "_blank">VIEW AND APPROVE</a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>
</td>
</tr>
</tbody>
</table>
</body>
</html>